[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	name = Simon Bein
	email = simontheleg@gmail.com
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/simonbein/.gitignore
	editor = nvim
[push]
  #default = matching
  default = current
[pull]
  #default = matching
  default = current
  rebase = true
[fetch]
  prune = true
[init]
	defaultBranch = main
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
